<!--
File:         Index.html.erb
Project:      Alpha - Blog (Groovebone)
Programmer:   Nick Iden
Date:         Sept 4th, 2020
Comments: 
          This is the index listing page for the articles based on udemy ruby on rails course.
          Eventually this page will list blogs posted for Groovebone.
-->

<h1 class="text-center mt-4">Blog Listing</h1>
<!-- the container that gives function and form to the article cards -->
<%= render 'article' %>


