<!--
File:         edit.html.erb
Project:      Alpha - Blog (Groovebone)
Programmer:   Nick Iden
Date:         Sept 16th, 2020
Comments: 
          This is the view for Edit category name. .
-->

 <h1 class="text-center mt-4">Edit category name</h1>

  <div class="container">
    <%= render 'form' %>
  </div>
    <div class="md-3">
      <%= link_to '[ Cancel and return to category ]', category_path(@category), class: "text-info" %>
    </div>
   </div>
</div>