
<!--
File:         new.html.erb
Project:      Alpha - Blog (Groovebone)
Programmer:   Nick Iden
Date:         Sept 11th, 2020
Comments: 
          This is the view for category form. .
-->

 <h1 class="text-center mt-4">Create a new category</h1>

  <div class="container">
  
    <%= render 'form'%>
  </div>
    <div class="md-3">
      <%= link_to '[ Cancel and return to category listing]', categories_path, class: "text-info" %>
    </div>
   </div>
</div>