<!--
File:         Show.html.erb
Project:      Alpha - Blog (Groovebone)
Programmer:   Nick Iden
Date:         Sept 11th, 2020
Comments: 
          This is the show categories profile page selected based on udemy ruby on rails course.
          Eventually this page will list blogs posted for Groovebone.
-->

<h2 class="text-center mt-4">Category <%= @category.name %></h2>